@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);

.error-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.error_main {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(77,7,157);
  background: linear-gradient(90deg, rgba(77,7,157,1) 11%, rgba(255,123,214,1) 100%);
}

.message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

a {
  color: red;
  text-decoration: none;
  font-weight: bold;
  font-size: 12;
}

h1{
  margin: 15px 0 0;
  color: black;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
