@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form h4{
  color: rgba(77,7,157,1);
  font-weight: bolder;
  text-align: center;
  border-radius: 10px;
  outline: 0;
  background: #f2f2f2;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form p{
  font-weight: bolder;
  text-align: left;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input{
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  background: rgb(77,7,157);
  background: linear-gradient(90deg, rgba(77,7,157,1) 11%, rgba(255,123,214,1) 100%);
}

.form .message {
  margin-right: 3px;
  color: #b3b3b3;
  font-size: 15px;
  text-decoration: none;
  font-weight: bolder;
}

.form .message:hover{
  color: rgba(77,7,157,1);
}


.error {
  margin: 15px 0 0;
  color: red;
  font-size: 14px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;

}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
  font-weight: bold;
}
.form .register-form {
  display: none;
}

h4{
  margin-top: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(134,242,114);
  background: linear-gradient(90deg, rgba(134,242,114,1) 11%, rgba(59,240,18,1) 100%);
}
